

.startPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(117, 69, 7);
    border: 4px solid black;
}

.mobileMainCointent {
  display: flex;
  height: 100%;
  width: 100%;
}