
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

@media(max-width: 400px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }
}

@media(min-width: 450px) {
  .mobileOnly {
    display: none;
  }

  .desktopOnly {
    display: block;
  }
}